html {
    background-color: #fff;
}

body {
}

div#logo
{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

    div#logo a
    {
        float: left;
    }

div#container
{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

div#body
{
}

div#header
{
    padding-top: 10px;
    margin-top: 50px;
}

div#footer
{
    padding-top: 10px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    border-top: 1px dotted #808080;
}

span.error
{
    display: none;
    color: red;
}

div#login ul
{
    list-style-type: none;
    float: right;
    margin-top: -5px;
}

div#login ul li
{
    float: left;
    padding-right: 10px;
}