html {
    background-color: #fff;
    overflow-y: scroll;
}

@media screen and (max-width: 530px) {
  div#container {
    width: 100%;
  }
}

@media screen and (min-width: 530px) {
  div#container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

body {
    margin: 0px;
}

div#logo
{
    width: 100%;
}

    div#logo a
    {
        float: left;
    }


div#body
{
}

div#header
{
    padding-top: 10px;
}

div#footer
{
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    border-top: 1px dotted #808080;
    clear: both;
}

span.error
{
    display: none;
    color: red;
}

div#login ul
{
    list-style-type: none;
    float: right;
    margin-top: 5px;
    -webkit-padding-start: 0px;
}

div#login ul li
{
    text-align:right;
    float: left;
    padding-left: 10px;
}

ul#footerLeft
{
    list-style-type: none;
    -webkit-padding-start: 0px;
    float: left;
    margin-top: 0px;
    clear: both;
}

ul#footerRight
{
    list-style-type: none;
    -webkit-padding-start: 0px;
    float: right;
    margin-top: 0px;}

div#footer ul li
{
    float: left;
    padding-right: 10px;
}

p.snapNavLeft
{
    float: left;
    clear: both;
}

p.snapNavRight
{
    float: right;
}

span#edit_tagline
{
}

p.profileLeft
{
    float: left;
}

p.profileRight
{
    float: right;
    text-align: right;
}

div#loginBox
{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;

    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted black;
}

    div#loginBox input
    {
        width: 100%;
    }
