html {
    background-color: #fff;
    overflow-y: scroll;
}

@media screen and (max-width: 500px) {
  div#container {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  div#container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

body {
}

div#logo
{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

    div#logo a
    {
        float: left;
    }


div#body
{
}

div#header
{
    padding-top: 10px;
    margin-top: 50px;
}

div#footer
{
    padding-top: 10px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    border-top: 1px dotted #808080;
}

div#welcome
{

}

span.error
{
    display: none;
    color: red;
}

div#login ul
{
    list-style-type: none;
    float: right;
    margin-top: -5px;
    -webkit-padding-start: 0px;
}

div#login ul li
{
    float: left;
    padding-right: 10px;
}

div#edit_tagline
{
    width: 100%;
}