<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>selfies.io</title>
</head>
<body>
    <header>
        <p>
        @Html.ActionLink("stealthie", "Index", "Home") 
        </p>
        @Html.Partial("_LogOnPartial")
    </header>
    @RenderBody()

</body>
</html>
