
@if(Request.IsAuthenticated) {

    if (ViewBag.handle != null)
    {

        <text>
            <a href="@Url.Content("~/" + ViewBag.handle.name )">@ViewBag.handle.name</a> <a href="@Url.Content("~/logout")" alt="logout" id="logout">logout</a>
        </text>        
        
    }

}
else {
    <text>
        (you are anonymous, @Html.ActionLink("reserve a handle", "Handle", "Account") to write messages)
    </text>
}

