
@if(Request.IsAuthenticated) {

    if (ViewBag.handle != null)
    {

        <text>
            <li><a href="@Url.Content("~/" + ViewBag.handle.name )">@ViewBag.handle.name</a> <a href="@Url.Content("~/logout")" alt="logout" id="logout">logout</a></li>
        </text>        
        
    }

}
else {
    <text>
        <li>@Html.ActionLink("register", "Register", "Home")</li>
    </text>
}

