<ul id="footerLeft">
    @if (Request.IsAuthenticated)
    {
        <li><a href="@Url.Content("~/key")">private key</a></li>
        <li><a href="@Url.Content("~/invite")">invite</a></li>        
    }
</ul>


<ul id="footerRight">
    <li>a project by <a href="http://www.twitter.com/katelosse" target="_blank">@@katelosse</a> & <a href="http://authie.me/seth">@@seth hayward</a></small></li>
</ul>