@{
    ViewBag.Title = "Handle";
}

<p>
    reserve a handle
</p>

<p>
    <span class="error"></span>
</p>

<input type="text" id="handle" name="handle" /> <input type="button" id="register_handle" name="register_handle" value="register" />

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#register_handle").click(function () {

                var handle_handle = $("#handle").val();
                var handle = { id: 1, name: handle_handle, active: 1, userGuid: "lol" };

                // Send the data using post
                var posting = $.post("@Url.Content("/api/handle")", handle);

                // Put the results in a div
                posting.done(function (data) {

                    // if active=1, then they have successfully registered a handle and logged in
                    // if active=-1, then the username was taken
                    // if active=-1, then there was an error

                    switch (data.active) {
                        case -1:
                            $("span.error").html("there was an error registering a handle.").fadeIn();
                            break;
                        case 0:
                            $("span.error").html("someone already registered " + data.name).fadeIn();
                            break;
                        case 1:                           
                            // now do i store the public/private stuff here?
                            // how do i know? well the cookie was set
                            $("span.error").html("registered " + data.name).fadeIn();
                            window.location = "@Url.Content("~/")";
                            break;
                    }

                    console.log(data);
                });

                posting.error(function () {
                    $("span.error").html("there was an error registering a handle.").fadeIn();
                });

            });
        });
    </script>
}
