@{
    Layout = null;
}

<html>

<head>
    <title>authie</title>
    <meta name="viewport" content="width=640" />
</head>

<body>

    <h2>oh, hi!</h2>

    <p>thank's for using authie. here is a little guide on how to use authie.</p>

    <img src="@Url.Content("~/Images/authie-help-home.jpg")">

    <p>this is the navigation bar. you tap the house to get to the menu - but you knew that.</p>

</body>

</html>
