@{
    Layout = null;
}

<html>

<head>
    <title>authie</title>
    <meta name="viewport" content="width=320" />

    <style>

        body
        {
            padding: 10px 0 0 0;
            margin: 0;
        }

        p
        {
            padding-left: 25px;
            padding-right: 25px;
        }

    </style>
</head>

<body>

    <p>
        Authie is a private social network that lets
        you share photos and chat with friends without
        the public static.
    </p>

    <img src="@Url.Content("~/Images/authie-help-home-v2.jpg")?20140131" width="320">

    <p>
        To get started, create a handle (no email or
        phone number needed) and tap the plus sign to
        take a snap.
    </p>

    <img src="http://placekitten.com/g/640/250" width="320" />

    <p>
        Sending the snap to the dash means all your
        friends on Authie can see it in their dash.
    </p>

    <img src="http://placekitten.com/g/640/300" width="320" />

    <p>
        Tap on a friend's snap in the dash to chat.
        All chats are private.
    </p>

    <img src="http://placekitten.com/g/640/265" width="320" />

    <p>
        You can also send a snap privately to a
        friend. Private snaps will appear blurred
        in the dash until you open them.
    </p>

</body>

</html>
