@{
    Layout = null;
}

<h2>oh, hi!</h2>

<p>thank's for using authie. here is a little guide on how to use authie.</p>

<img src="@Url.Content("~/Images/authie-help-home.jpg")">

<p>this is the navigation bar. </p>