@{
    ViewBag.Title = "Contacts";
}


<!-- ko if: contacts().length == 0 -->
<ul>
    <li>no contacts yet</li>
</ul>
<!-- /ko -->

<!-- ko if: contacts().length > 0 -->
    <ul data-bind="foreach: contacts">
        <li><a data-bind="attr: { href: '@Url.Content("~/")' + followeeHandle.name }"><span data-bind="    text: followeeHandle.name"></span></a>
            <a href="#" data-bind="click: $root.removeContact">Remove</a></li>
    </ul>
<!-- /ko -->


<p>
add new contact: <input type="text" id="handle" /><button data-bind="click: submitContactToSite">add</button>
        <span id="add_results"> </span>

</p>

<p>authie does not notify your contact when you add them.
</p>

@section Scripts {
<script type="text/javascript">

    function ContactsViewModel() {
        var self = this;

        self.contacts = ko.observableArray([]);

        self.loadContacts = function () {
            self.doneLoading = false;
            self.contacts.removeAll();

            $.get("@Url.Content("~/api/follower")", function (data, status) {

                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        self.contacts.push(item);
                    });
                } else {
                    self.contacts = ko.observableArray([]);
                    //alert('oh');
                }

            });


        }

        // initial load on init...
        self.loadContacts();

        self.removeContact = function (contact) {
            // :( :( :(
            // post to server

            $.ajax({
                url: "@Url.Content("~/api/follower")",
                data: { '': contact.followeeHandle.name },
                type: 'DELETE',
                success: function (result) {
                    // Do something with the result
                    self.loadContacts();
                }
            });

        }

        self.submitContactToSite = function (contact) {

            $("#add_results").html("");

            var handle = $("#handle").val();

            if (handle.length == 0) {
                display_errors("please enter a handle");
            }

            $.post("@Url.Content("~/api/follower")", { '': handle }).fail(function () {
                alert('an error occurred.');
            }).done(function (data) {

                if (data.result == 0) {
                    display_errors(data.message);
                } else {
                    self.loadContacts();
                }

            });


        }

    }

    function display_errors(err) {
        $("#add_results").html(err).fadeIn();
    }

    ko.applyBindings(new ContactsViewModel());
</script>
}
