@{
    ViewBag.Title = "Daily";
}

<p><u>The Daily</u></p>


<div id="dailyThreads" data-bind="foreach: dailyThread" style="display: none">

    <div class="snapHolder">
        <p class="snapNavLeft">
            from <span data-bind="text: fromHandle.name"></span><br />
            <span data-bind="text: caption"></span>            
        </p>

        <p class="snapNavRight" data-bind="click: $parent.giveLove">
            <a href="#"><span data-bind="text: hearts"></span></a> <img src="@Url.Content("~/Images/heart.png")" />
        </p>

    </div>

    <img data-bind="attr: { src: groupKey }" />

</div>


@section Scripts {
<script type="text/javascript">

    function DailyViewModel() {
        var self = this;

        self.dailyThread = ko.observableArray([]);

        self.giveLove = function (item) {

            var voter = $.post("@Url.Content("~/api/heart")", item.groupKey);
            voter.done(function (data) {
                item.hearts = data;
                alert(data);
            })

        }

        self.loadDaily = function () {

            $.get("@Url.Content("~/api/daily")", function (data, status) {

                if (data.length > 0) {

                    $.each(data, function (i, item) {
                        item.groupKey = "@Url.Content("~/api/snap/500/")" + item.groupKey;
                        self.dailyThread.push(item);
                    });

                    $("#dailyThreads").fadeIn('fast');

                } else {
                    $("daily").html("No daily threads found :(");
                }

            });


        }

        // init load
        self.loadDaily();

    }

    ko.applyBindings(new DailyViewModel());

</script>
}