@model List<selfies.Models.thread>

@{
    ViewBag.Title = "chillfeed";
}

<h2>chill-feed for @ViewBag.selectedHandle.name</h2>

    @if (Model.Count == 0)
    {
        <p>no public history of chill yet, that's cool</p>
    }
    else
    {
        foreach (selfies.Models.thread t in Model)
        {
            <img src="@Url.Content("~/api/snap/500/" + t.groupKey)" />
        }
    }

