@using selfies.Models

@if (User.Identity.IsAuthenticated)
{
    Html.RenderPartial("_SnapAdd");
}

<p>
    reserved handles
</p>
<ul>
@foreach(handle lulz in ViewBag.handles) {
    <li>@lulz.name</li>   
}
</ul>
