@using selfies.Models

@if (User.Identity.IsAuthenticated)
{

    <text>
        <p>
            inbox
        </p>
            @if (ViewBag.threads.Count == 0)
            {
                <text><ul><li>no threads yet, <a href="@Url.Content("~/send")">send one</a></li></ul></text>
            }
            else                
            {
                foreach (thread thready in ViewBag.threads)
                {
                    @Html.Partial("_Snap", thready);
                }
            }
    </text>
            
} else {
 
    <text>

    <div id="welcome">

        <p>hey. authie is an easy way to send disappearing snaps and messages with your friends.</p>

        <ul>
            <li>no email required (or FB)</li>
            <li>iOS only</li>
        </ul>

        <p>just <a href="#">download</a> us on the appstore...</p>


    </div>

    </text>   
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("a.remover").click(function () {
            var currentId = $(this).attr('id');
            $("#li-" + currentId).fadeOut();

            $.ajax({
                url: "@Url.Content("~/api/thread")",
                data: { '': currentId },
                type: 'DELETE',
                success: function (result) {
                    // Do something with the result
                }
            });

        });
    });
</script>
}