@{
    ViewBag.Title = "Login";
}

<div id="loginBox">

    <p>handle: <br />
    <input type="text" id="handle" />
    </p>
    <p>
        private key: <br />
        <input type="text" id="key" />
    </p>
    <p><input type="button" id="loginButton" value="login" /></p>

    <p>
        <span class="error"></span>
    </p>

</div>


@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {

        $("#loginButton").click(function () {

            var nick = $("#handle").val();
            var key = $("#key").val();
            var handle = { id: 1, name: nick, active: 1, userGuid: "lol", privateKey: key };

            // Send the data using post
            var posting = $.post("@Url.Content("/api/login")", handle);

            $("#loginButton").fadeOut();

            // Put the results in a div
            posting.done(function (data) {

                switch (data.result) {
                    case 0:
                        $("#loginButton").fadeIn('fast');
                        $("span.error").html(data.message).fadeIn();
                        break;
                    case 1:
                        // success
                        window.location = "@Url.Content("~/")";
                            break;
                    }

                });

            posting.error(function () {
                display_errors("unable to log in due to technical error.");
            });


        });


        function display_errors(err) {
            $("span.error").html(err).fadeIn();
            $("#loginButton").fadeIn();
        }

    });
</script>
}