@{
    ViewBag.Title = "PrivateKey";
}

<p>your private key is: <b>@ViewBag.privateKey</b></p>
<p>you use your private key to log in to authie on a phone or other
    computers/browsers/technologies. your private key is like a password,
    so please don't show it to anyone.
</p>
