@model selfies.Models.thread

<p>
    to: @Model.toHandle.name, from @Model.fromHandle.name
</p>
            
<a href="@Url.Content("~/api/snap/orig/" + Model.groupKey)"><img src="@Url.Content("~/api/snap/500/" + Model.groupKey)" alt="snap" /></a>
