@{
    ViewBag.Title = "What";
}

<p>wait, what?</p>

<p>authie is a photosharing app based on permissions. you
    use authie to share snaps with people you trust. it's fun, anonymous, and
    free.
</p>

<p>authie is a "dark" social network, meaning we don't connect with other social
    networks. that means no FB login, no Twitter login, no abusing your friends'
    list. 
</p>