@{
    ViewBag.Title = "What";
}

<p>wait, what?</p>

<p>authie is a photosharing site with permissions (get it- authorize?). you
    use authie to share snaps with people you trust. it's fun, anonymous, and
    free.
</p>